//- Staff Away - Now
div(v-if="staffAbsent.now.length > 0 || staffAbsent.soon.length > 0" v-cloak).bit-2
  #staff-absent-now(v-if="staffAbsent.now.length > 0").bit-1
    header.bit-1.block-header.yellow-block
      counter(v-bind:count="staffAbsent.now.length" duration="3")
      p Staff Away Now
    .block-progress.yellow-block.yellow-progress-container
      .block-progress-bar.yellow-progress-bar(style="width: {{Math(pages.now.end / staffAbsent.now.length * 100)}}%;")

    table.block-content.bit-1
      tr(v-for="item in staffAbsent.now | orderBy 'surname' | limitBy limits.now.start limits.now.end" transition="fader" stagger="100")
        td(width="50%").block-name {{item.firstname}} {{item.surname}}
        td(width="50%").block-time {{niceTime(item.dateFrom + ' ' + item.timeFrom)}} to {{niceTime(item.dateTo + ' ' + item.timeTo)}}

  //- Staff Away - Soon
  #staff-absent-soon(v-if="staffAbsent.soon.length > 0").bit-1
    header.bit-1.block-header.blue-block
      counter(v-bind:count="staffAbsent.soon.length" duration="3")
      p Staff Away Soon
    .block-progress.blue-block.blue-progress-container
      .block-progress-bar.blue-progress-bar(style="width: {{Math(pages.soon.end / staffAbsent.soon.length * 100)}}%;")

    table.block-content.bit-1
      tr(v-for="item in staffAbsent.soon | orderBy 'surname' | limitBy limits.soon.start limits.soon.end" transition="fader" stagger="100")
        td(width="50%").block-name {{item.firstname}} {{item.surname}}
        td(width="50%").block-time {{niceTime(item.dateFrom + ' ' + item.timeFrom)}} to {{niceTime(item.dateTo + ' ' + item.timeTo)}}

//- Staff Away - All Day
div(v-if="staffAbsent.allDay.length > 0" v-cloak).bit-2
  #staff-absent-all-day.bit-1
    header.bit-1.block-header.red-block
      counter(v-bind:count="staffAbsent.allDay.length" duration="3")
      p Staff Away All Day
    .block-progress.red-progress-container
      .block-progress-bar.red-progress-bar(style="width: {{Math.round(pages.allDay.end / staffAbsent.allDay.length * 100)}}%;")

    table.block-content.bit-1
      tr(v-for="item in staffAbsent.allDay | orderBy 'surname' | limitBy limits.allDay.start limits.allDay.end" transition="fader" stagger="100")
        td(width="100%").block-name {{item.firstname}} {{item.surname}}
