#column(v-if="staffAway.now.length > 0 || staffAway.soon.length > 0")
  #block(v-if="staffAway.now.length > 0" transition="fader")
    header.yellow-block #[strong {{staffAway.now.length}}] Staff Away Now
    #progress-container.yellow-progress-container
      #progress-bar.yellow-progress-bar(v-bind:style="{ maxWidth: progressBarWidth(staffAway.now.length, limits.now.end, limits.now.start) + '%' }")
    #block-content
      table
        tbody
          tr(v-for="item in staffAway.now | orderBy 'surname' | limitBy limits.now.start limits.now.end" transition="fader" stagger="100")
            td(width="50%" class="staff-away-name") {{item.firstname}} {{item.surname}}
            td(width="50%" class="staff-away-time") {{niceTime(item.dateFrom + ' ' + item.timeFrom)}} #[span(class="time-separator") to] {{niceTime(item.dateTo + ' ' + item.timeTo)}}

  #block(v-if="staffAway.soon.length > 0" transition="fader")
    header.blue-block #[strong {{staffAway.soon.length}}] Staff Away Soon
    #progress-container.blue-progress-container
      #progress-bar.blue-progress-bar(v-bind:style="{ maxWidth: progressBarWidth(staffAway.soon.length, limits.soon.end, limits.soon.start) + '%' }")
    #block-content
      table
        tbody
          tr(v-for="item in staffAway.soon | orderBy 'surname' | limitBy limits.soon.start limits.soon.end" transition="fader" stagger="100")
            td(width="50%" class="staff-away-name") {{item.firstname}} {{item.surname}}
            td(width="50%" class="staff-away-time") {{niceTime(item.dateFrom + ' ' + item.timeFrom)}} #[span(class="time-separator") to] {{niceTime(item.dateTo + ' ' + item.timeTo)}}

#column
  #block(v-if="staffAway.allDay.length > 0" transition="fader")
    header.red-block #[strong {{staffAway.allDay.length}}] Staff Away All Day
    #progress-container.red-progress-container
      #progress-bar.red-progress-bar(v-bind:style="{ maxWidth: progressBarWidth(staffAway.allDay.length, limits.allDay.end, limits.allDay.start) + '%' }")
    #block-content
      table
        tbody
          tr(v-for="item in staffAway.allDay | orderBy 'surname' | limitBy limits.allDay.start limits.allDay.end" transition="fader" stagger="100")
            td(width="50%" class="staff-away-name") {{item.firstname}} {{item.surname}}
