@font-face {
  font-family: 'Brandon Black';
  src: url("../fonts/Brandon_Black.otf") format("opentype"); }

@font-face {
  font-family: 'Brandon Black Italics';
  src: url("../fonts/Brandon_Black_Italics.otf") format("opentype"); }

@font-face {
  font-family: 'Brandon Bold';
  src: url("../fonts/Brandon_Bold.otf") format("opentype"); }

@font-face {
  font-family: 'Brandon Bold Italics';
  src: url("../fonts/Brandon_Bold_Italics.otf") format("opentype"); }

@font-face {
  font-family: 'Brandon Light';
  src: url("../fonts/Brandon_Light.otf") format("opentype"); }

@font-face {
  font-family: 'Brandon Light Italics';
  src: url("../fonts/Brandon_Light_Italics.otf") format("opentype"); }

@font-face {
  font-family: 'Brandon Medium';
  src: url("../fonts/Brandon_Medium.otf") format("opentype"); }

@font-face {
  font-family: 'Brandon Medium Italics';
  src: url("../fonts/Brandon_Medium_Italics.otf") format("opentype"); }

@font-face {
  font-family: 'Brandon Regular';
  src: url("../fonts/Brandon_Regular.otf") format("opentype"); }

@font-face {
  font-family: 'Brandon Regular Italics';
  src: url("../fonts/Brandon_Regular_Italics.otf") format("opentype"); }

@font-face {
  font-family: 'Brandon Thin';
  src: url("../fonts/Brandon_Thin.otf") format("opentype"); }

@font-face {
  font-family: 'Brandon Thin Italics';
  src: url("../fonts/Brandon_Thin_Italics.otf") format("opentype"); }

@font-face {
  font-family: 'Fira Mono';
  src: url("../fonts/FiraMono-Regular.otf") format("opentype"); }

[v-cloak] {
  display: none; }

html, body {
  padding: 0;
  margin: 0; }

body {
  background: #312e46;
  font-family: 'Brandon Regular';
  color: #EFEFEF; }

#app {
  height: 100%; }

#content {
  min-height: 500px;
  padding: 10px;
  opacity: 1;
  transition: opacity 300ms ease-out; }

#content.transition {
  opacity: 0; }

/* always present */
.fade-transition {
  opacity: 1;
  transition: opacity .5s ease; }

.fade-enter, .fade-leave {
  opacity: 0; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

#splash {
  width: 100%;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  text-align: center;
  color: #EFEFEF; }

#splash h3 {
  font-family: 'Brandon Light';
  letter-spacing: 0.5em;
  text-transform: uppercase;
  font-size: 2.5em; }

#splash .version {
  font-family: 'Fira Mono';
  color: #9EA0B7;
  font-size: 1.35em;
  opacity: 0.5;
  margin: 0.5em 0 0 0; }

#splash-image {
  animation: fadein 1s;
  width: 310px;
  height: 195px;
  margin: 0 auto;
  background-image: url("../images/splash.png"); }

header {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: auto;
  color: #EFEFEF;
  margin: 0; }

#time {
  font-size: 2em;
  font-family: 'Brandon Medium';
  text-align: left; }

#now {
  font-size: 1.5em;
  font-family: 'Brandon Light';
  text-align: right; }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  padding: 0 30px 0 0;
  font-family: 'Brandon Light Italics';
  text-align: right;
  color: rgba(158, 160, 183, 0.5); }

.block-header {
  padding: 10px;
  font-family: 'Brandon Bold';
  font-size: 1.5em;
  text-align: left;
  margin: 0; }

.block-content {
  overflow: hidden;
  background-color: #403E58;
  margin: 0 0 10px 0;
  font-size: 1.35em; }

.block-name {
  font-family: 'Brandon Medium';
  color: #EFEFEF;
  padding: 5px; }

.block-time {
  font-family: 'Brandon Light';
  color: #9EA0B7;
  padding: 5px; }

.block-reason {
  font-family: 'Brandon Regular';
  font-size: 1em;
  color: #9EA0B7;
  padding: 5px; }

#staff-absent {
  padding: 0; }

.yellow-block {
  background: #FFD93B;
  color: #483902; }

.red-block {
  background: #FF4E31;
  color: #5D1505; }

.blue-block {
  background: #0798FF;
  color: #002B49; }

.green-block {
  background: #67DA75;
  color: #004B12; }

.purple-block {
  background: #8367DA;
  color: #2C215C; }

.teal-block {
  background: #60EAE3;
  color: #074240; }
