.bit-1
  #splash
    h3
      <span class="letter-p">P</span><span class="letter-i">I</span><span class="letter-c">C</span><span class="letter-n">N</span><span class="letter-ii">I</span><span class="letter-cc">C</span>
    .separator
    p <span class="letter-p">P</span>assive <span class="letter-i">I</span>nformation <span class="letter-c">C</span>ommunicator for <span class="letter-n">N</span>ew and <span class="letter-ii">I</span>nteresting <span class="letter-cc">C</span>ontent
