@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slow-pulse {
  0% { opacity: 0.6; }
  50% { opacity: 0.2; }
  100% { opacity: 0.6; }
}

$splash-blur: 12px;

@keyframes rainbow {
  0% { color: $purple-base; text-shadow: 0 0 $splash-blur rgba($purple-base, 0.3); }
  25% { color: $blue-base; text-shadow: 0 0 $splash-blur rgba($blue-base, 0.3); }
  50% { color: $green-base; text-shadow: 0 0 $splash-blur rgba($green-base, 0.3); }
  75% { color: $yellow-base; text-shadow: 0 0 $splash-blur rgba($yellow-base, 0.3); }
  100% { color: $red-base; text-shadow: 0 0 $splash-blur rgba($red-base, 0.3); }
}

@keyframes splash-jiggle {
	from { transform: translate3d(0, 3px, 0); }
	to { transform: translate3d(0, -3px, 0); }
}

@keyframes splash-fade-in {
  0% {
    opacity: 0;
    color: $pale-text;
    transform: translate3d(0, -6px, 0);
  }
  10% {
    opacity: 1;
    color: white;
    transform: translate3d(0, 6px, 0);
  }
  20% {
    color: white;
    transform: translate3d(0, 0, 0);
  }
  100% {
    color: $pale-text;
  }
}
