#block {
	display: inline-table;
  width: 100%;
  padding: 0 0 $padding-unit 0;
	border-radius: 4px;
	font-size: 2em;
}

#block header {
	font-family: 'Brandon Medium';
	font-size: 1.3em;
	padding: $padding-unit * 0.5 $padding-unit * 0.75;
	border-radius: 6px 6px 0 0;
	& strong {
		font-weight: normal;
		font-family: 'Brandon Bold';
	}
}

#block-content {
  background-color: $block-background;
  border-radius: 0 0 4px 4px;
  padding: $padding-unit * 0.3 0;
}

#progress-container {
  width: 100%;
  height: $padding-unit;
  padding: 0;
  margin: 0;
}

#progress-bar {
  min-height: 100%;
  padding: 0;
  margin: 0;
  transition: max-width .4s ease-in-out;
}

#block #block-content table {
	width: 100%;
	margin: 0;
	display: table;
  border-collapse: collapse;
	border: 0;
	& td {
		padding: 0 $padding-unit;
		line-height: 2em;
	}
	& td span.time-separator {
		opacity: 0.5;
	}
	& .staff-away-name {
		font-family: 'Brandon Medium';
	  font-size: 1.1em;
	}
	& .staff-away-time {
		font-family: 'Brandon Light';
		font-size: 0.9em;
		color: $pale-text;
		text-align: right;
	}
}


// Coloured Blocks and Bars
$progressContainerTint: 0.3;
$progressBarTint: 0.4;

.yellow-block { background: $yellow-base; color: $yellow-text; }
.red-block { background: $red-base; color: $red-text; }
.blue-block { background: $blue-base; color: $blue-text; }
.green-block { background: $green-base; color: $green-text; }
.purple-block { background: $purple-base; color: $purple-text; }
.teal-block { background: $teal-base; color: $teal-text; }

.yellow-progress-container { background-color: rgba($yellow-base, $progressContainerTint); }
.yellow-progress-bar { background-color: rgba($yellow-base, $progressBarTint); }
.red-progress-container { background-color: rgba($red-base, $progressContainerTint); }
.red-progress-bar { background-color: rgba($red-base, $progressBarTint); }
.blue-progress-container { background-color: rgba($blue-base, $progressContainerTint); }
.blue-progress-bar { background-color: rgba($blue-base, $progressBarTint); }
.green-progress-container { background-color: rgba($green-base, $progressContainerTint); }
.green-progress-bar { background-color: rgba($green-base, $progressBarTint); }
.purple-progress-container { background-color: rgba($purple-base, $progressContainerTint); }
.purple-progress-bar { background-color: rgba($purple-base, $progressBarTint); }
.teal-progress-container { background-color: rgba($teal-base, $progressContainerTint); }
.teal-progress-bar { background-color: rgba($teal-base, $progressBarTint); }
