#counter {
  width: 60px;
  margin: 0 10px 0 0;
  background: rgba(0,0,0,0.11);
  font-family: 'Brandon Bold';
  text-align: center;
}

.counterFade {
	opacity: 0;
	animation: fadein 2s;
	animation-fill-mode: forwards;
}
