header {
	display: flex;
	align-items: center;
	overflow: hidden;
	height: auto;
	color: $text;
	margin: 0;
}

#time {
	font-size: 2em;
	font-family: 'Brandon Medium';
	text-align: left;
	margin: 0 0 0 5px;
}

#now {
  font-size: 1.5em;
	font-family: 'Brandon Light';
	text-align: right;
}
