header {
	display: flex;
	align-items: center;
	overflow: hidden;
	height: auto;
	color: $text;
	margin: 0;
}

#time {
	font-size: 4em;
	font-family: 'Brandon Medium';
	text-align: left;
	opacity: 0;
	animation: fadein $duration;
  animation-fill-mode: forwards;
}

#now {
  font-size: 2.5em;
	font-family: 'Brandon Light';
	text-align: right;
}

#timetable {
	font-family: 'Brandon Regular';
	opacity: 0;
	animation: fadein $duration;
  animation-fill-mode: forwards;
	animation-delay: $delay;
}

#date {
	color: rgba($pale-text, 0.75);
	opacity: 0;
	animation: fadein $duration;
	animation-fill-mode: forwards;
	animation-delay: $delay * 1.5;
}
