$base-background: #312e46;
$block-background: #403E58;
$text: #EFEFEF;
$pale-text: #9EA0B7;
$yellow-base: #FFD93B;
$yellow-text: #483902;
$red-base: #FF4E31;
$red-text: #5D1505;
$blue-base: #0798FF;
$blue-text: #002B49;
$green-base: #67DA75;
$green-text: #004B12;
$purple-base: #8367DA;
$purple-text: #2C215C;
$teal-base: #60EAE3;
$teal-text: #074240;
