$duration: .3s;
$delay: $duration * 1.2;

#splash {
	position: fixed;
	bottom: 15%;
  padding: 30px;
	color: $text;
}

#splash h3 {
	font-family: 'Brandon Light';
	letter-spacing: 0.5em;
	text-transform: uppercase;
	font-size: 8em;
	opacity: 0;
	animation: splashDown $duration;
  animation-fill-mode: forwards;
	animation-delay: $delay;
}

#splash .separator {
	width: 100%;
	height: 4px;
	background: $block-background;
	margin: 0 0 23px 0;
	opacity: 0;
	animation: splashIn $duration;
  animation-fill-mode: forwards;
	animation-delay: $delay * 1.5;
}

#splash p {
	font-family: 'Brandon Light';
  font-size: 3em;
	color: rgba($pale-text, 1);
	opacity: 0;
	animation: splashUp $duration;
  animation-fill-mode: forwards;
	animation-delay: $delay * 3;
}

#splash p [class^='letter-'] {
	font-family: 'Brandon Regular';
}

#splash .letter-p {
	color: $red-base;
}

#splash .letter-i {
	color: $yellow-base;
}

#splash .letter-c {
	color: $green-base;
}

#splash .letter-n {
	color: $blue-base;
}

#splash .letter-ii {
	color: $teal-base;
}

#splash .letter-cc {
	color: $purple-base;
}
